<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='/css/font-awesome.css' rel='stylesheet' type='text/css'>
  
  <link href='/css/mainpage.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/sweetalert2.min.css">
  <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/sweetalert2.min.js"></script>
  <script type="text/javascript" src="/js/calendar.js"></script>
  <title>Saving Grace</title>
</head>
<body style="margin-top: 100px">
      

  <header>
<% include ./navbar.ejs %>
  </header>
  <div id = "rules">
    <h2>Rules for putting grace :</h2>
    <ul id="rules_list">
      <li>You cannot put grace on more than 4 days in a month</li>
      <li>You cannot put grace on more than 2 consecutive days</li>
    </ul>
  </div>
    <div id="front" >
      <div id = "calendarContainer">
        <div id="calendar">
          <div id="calendar_header"><i class="icon-chevron-left"></i>
              <h1></h1><i class="icon-chevron-right"></i>
          </div>
          <div id="calendar_weekdays"></div>
          <div id="calendar_content"></div>
        </div>
      </div>
    </div>
<footer>

</footer>
</body>
</html>
